# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Build
site_build/
site/
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Scratch
scratch/
tmp/
*.log
